
__pycache__/
*.py[cod]
*$py.class


*.so


*.log
*.pot
*.pyc
*.pyo
*.pyd
db.sqlite3
media/
staticfiles/
.env
.env.*


settings_local.py
local_settings.py


*.sql


.idea/



venv/
env/
ENV/


Pipfile.lock
poetry.lock


.mypy_cache/
.pytest_cache/
.coverage
htmlcov/


node_modules/
*.tsbuildinfo


.DS_Store
Thumbs.db
